﻿<ion-view title="" id="page74">

		<ion-nav-buttons side="right" class="has-header">
				<div class="button text-center" ng-click="vm.passDate()" style="padding:0px;margin: 2px -2px -4px 4px;padding-left: 2px;top:-3px;padding-right: 3px; color:black">
					<img ng-src="img/cal.jpg" class=" title-image caption post-content" height="32" />
				</div>
		
				<div ng-repeat="date in vm.getDates" class="button text-center" style="padding:0;margin: 2px -2px -4px 4px;padding-left: 2px;top:-3px;
			padding-right: 3px; color:black" ng-class="{'button-positive': $index == vm.selectedIndexDate }"
					 ng-click="vm.clickDateEvent(date.dateValue,$index)">
					<img ng-src="img/calendar.png" class=" title-image caption post-content" height="32" />
		
					<div class="text" style="margin-top:-37px;">
						<b> {{date.dateText}}</b>
					</div>
				</div>				
			</ion-nav-buttons>


	<ion-content padding="true" class="has-header">

			<div class="row plntname">
					<div class="col text-center stable abc" ng-hide="vm.hidePlant">
						<h3 class="stable">{{vm.plantName}}</h3>
						<div class="button button-small icon ion-ios-bell bell" ng-click="processParameterPage()" style="float:right;top:-36px;margin-right:0;margin-top:-2px;color:red;min-width:33px;">
						</div>					
					</div>
				</div>
				<ion-refresher pulling-text="Pull to refresh..." on-refresh="vm.doRefresh($event)">
					</ion-refresher>
				<div class="row MachineMT">
					<div class="col text-center selectMT">
						<!-- <select class="select" ng-options='option.machineID as option.machineName for option in vm.machineData.machines'
								ng-model='vm.selectedValue' ng-change="vm.onMachineSelectionChange(vm.selectedValue,$index)"></select> -->
								<select class="select" ng-options='option.machineID as option.machineName for option in machines'
                        ng-model='vm.selectedValue' ng-change="vm.onMachineSelectionChange(vm.selectedValue)"></select>
					</div>
					<span ng-style="{background: vm.machineStatus.color}" class="status" ng-hide="vm.machineStatusHide == 1">
						<b ng-style="vm.machineStatus.color === null && {'color': 'black'} || vm.machineStatus.color === '' && {'color': 'black'}|| vm.machineStatus.color !== 'Yellow' && {'color': 'white'} || vm.machineStatus.color === 'Yellow' && {'color': 'black'}">{{vm.machineStatus.status}}</b>
					</span>
				</div>
				<div class="row  statisticHead" style="margin-top:0;padding-bottom:18px;">
					<div class="col" style="padding-bottom: 4px;padding-top: 2px; border-radius: 4px 4px 4px 4px;">
						<div class="row">
							<div class="col button button-small shftstat text-center selected-class-name"
								 ng-repeat="shft in vm.getShiftData"
								 ng-click="vm.CockPitShift(shft.shiftId,$index)"
								 ng-class="{'button-positive': $index == vm.selectedIndex }">
								{{shft.shiftName}}
							</div>
							<div class="col button button-small shftstat text-center selected-class-name"								
								 ng-click="vm.CockPitDay(4,3)"
								 ng-class="{'button-positive': 3 == vm.selectedIndex }">
								Day
							</div>
						</div>
					</div>				
				</div>

    <div class="row" style="margin-top:10px;overflow:scroll">
			<div style="padding: 8px;border-radius: 8px;left: 50%;margin: auto; box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);overflow:scroll"
			ng-style="{background: vm.values.boxBgColor}">
        <table class="table table-bordered rtable" style="background-color: white;font-size: 14px;overflow:scroll">
                <tbody>
                    <ng-container>   
                        <!-- <tr ng-repeat="tabVal in vm.values.cockpitData" ng-hide = "vm.machineStatusHide == 1 && (tabVal.dbColName.indexOf('RunningCycle')!=-1 || tabVal.dbColName=='LastCycleCO' || tabVal.dbColName=='LastCycleStart'
						|| tabVal.dbColName=='LastCycleSpindleRunTime'|| tabVal.dbColName=='LastCycleTime')"> -->
						 <tr ng-repeat="tabVal in vm.values.cockpitData">
							<td ng-style="{background: tabVal.bgLabelColor}">{{tabVal.headerText}}</td>
							<td ng-style="{background: tabVal.bgColor}">{{tabVal.headerVal}}</td>
                         </tr>
                     </ng-container>                   
                 </tbody>
         </table>
        </div>
        </div>
</div>

	</ion-content>
</ion-view>