﻿
<ion-view  name="login-view" style="background-color: #01398E" hide-nav-bar="true">        
    <ion-nav-bar class="bar bar-header bar-light" enable-menu-with-back-views="false">
        <ion-nav-buttons side="left">
            <!-- <img ng-src="img/acemlogo.PNG" class="title-image" height="40" style="margin:-2px;" /> -->
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="loginContent has-header" style="background-image: url(./img/Bg.PNG); background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;">
  
        <div class="row col text-center loginContent">
            <img height="150"/>
        </div>
  
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-android-contact loginIcon" ></i>
                <input type="text" placeholder="Username" ng-model="vm.UserName">
            </label>
            <label class="item item-input">
                <i class="icon ion-locked loginIcon"></i>
                <input type="password" placeholder="Password" ng-model="vm.Password">
            </label>
        </div>
        <div class="row loginContent">
            <button class="button button-block button-calm btnLogin" ng-click="vm.login()">Login</button>
        </div>
    </ion-content>
  </ion-view>

  