﻿<ion-view >
    <ion-nav-buttons side="right" class="has-header">
        <!-- <div ng-repeat="date in  vm.dates" class="button text-center" style="padding:0px;margin: 2px -2px -4px 4px;padding-left: 2px;top:-3px;
    padding-right: 3px; color:black" ng-class="{'button-positive': $index == vm.selectedIndex }"
             ng-click="vm.clickDateEvent(date.dateValue,$index)">
            <img ng-src="img/calendar.png" class=" title-image caption post-content" height="32" />

            <div class="text" style="margin-top:-37px;">
                <b> {{date.dateText}}</b>
            </div>
        </div> -->


    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <div class="row plntname">
            <div class="col text-center stable abc" >
                <h3 class="stable">MachineFilter</h3>
            </div>
        </div>
       
        <div class="row plntname" >
            <div class="col text-center stable">
                <h3 class="stable">

                        <label class = "item item-input item-select">
                                <div class = "input-label">
                                   Select Plant
                                </div>

                                <select ng-model="plantSelected" 
                                ng-change="getPlantMachines(plantSelected)" 
                                ng-options="plant.plantID as plant.plantName for plant in vm.PlantData">
                            <option value=""><b>Select Plant</b></option>
                            </select>

</label>


                        <!-- <ion-item>
                                <ion-label>PLANTS</ion-label>
                                <ion-select ng-model="plant.plantID"
                                ng-change="getPlantMachines(plant.plantID)" 
                                >
                                  <ion-option 
                                  *ngFor="let plant.plantID of plants"
                                  
                                  value="">{{"SelectPlant"| translate }}</ion-option>
                                </ion-select>
                              </ion-item> -->





                    <!-- <select ng-model="plantSelected" 
                    ng-change="getPlantMachines(plantSelected)" 
                    ng-options="plant.plantID as plant.plantName for plant in vm.PlantData">
                <option value="">{{"SelectPlant"| translate }}</option>
                </select> -->
                </h3>

                <!-- <h3 class="stable">{{vm.plantData.plantName}}</h3> -->
            </div>
        </div>
        <div class="filterborder" ng-show="show==1">

               
                 <div  class = "item ">
                <input type="checkbox" ng-click="toggleAll()" ng-model="vm.machinesData.isAllChecked" />
                <span ng-show="isAllChecked" > <b></b>All Selected</b></span>
                <span ng-hide="isAllChecked" >
                    <b>Select All</b></span>
                
                <!-- ng-checked="isAllChecked==true" -->
                <!-- <span ng-show="isAllChecked" >All Selected</span>
                <span ng-hide="isAllChecked" >Select All</span> -->
                

                </div> 
                                                                                                                                                                     
<br />

                <div   ng-repeat="j in vm.machinesData">
        
            <li class = "item item-checkbox item-borderless">
                    <label class = "checkbox">
                            <input type = "checkbox" 
                            ng-model="j.isChecked"
                            
                            ng-click="toggleSelection(j.machineID)" 


                            
                            />
                         </label> 
                <b>
                    {{j.machineName}}
                </b>
               
             </li>

             



             <!-- <li class = "item item-checkbox item-borderless">
                    <label class = "checkbox">
                            <input type = "checkbox" 
                            value="{{j.machineID}}"
                            ng-click="toggleSelection(j.machineID)"


                            ng-model="j.isChecked"
                            />
                         </label> 
                <b>
                    {{j.machineName}}
                </b>
               
             </li> -->



                <!-- <div class="item item-icon-right row">
                    <div class="col col-50 text-center" style="color:black">
                        <div class="item item-center">
                            <p style="font-size:15px;">
                                <b>
                                    {{j.machineName}}
                                </b>
                            </p>
                        </div>
                        &nbsp;{{j.status  | 
                            translate}} 
                    
                </div>
           
        </div> -->
        </div>
        </div>
        

        <div class="row">
                <div class="col text-center">

        <button class="button button-positive
        {'active': buttonActive}
        " 
        ng-click="saveSelected()"
        ng-show="show==1"
        >
                SAVE
              </button>
</div>
</div>

<!-- <p ng-show="show==1">{{selection}}</p> -->

    </ion-content>
</ion-view>