<ion-view title="" id="pageProcessParameters" hide-back-button="true">
    <ion-nav-buttons side="right" class="has-header">
        <div class="button text-center" ng-click="vm.passDate()" style="padding:0px;margin: 2px -2px -4px 4px;padding-left: 2px;top:-3px;padding-right: 3px; color:black">
            <img ng-src="img/cal.jpg" class=" title-image caption post-content" height="32" />
        </div>
        <div ng-repeat="date in vm.getDates" class="button text-center" style="padding:0px;margin: 2px -2px -4px 4px;padding-left: 2px;top:-3px; padding-right: 3px; color:black" ng-class="{'button-positive': $index == vm.selectedIndexDate }" ng-click="vm.clickDateEvent(date.dateValue,$index)">
            <img ng-src="img/calendar.png" class=" title-image caption post-content" height="32" />
            <div class="text" style="margin-top:-37px;">
                <b> {{date.dateText}}</b>
            </div>
        </div>
    </ion-nav-buttons>

    <ion-content padding="true" class="has-header">
        <div class="row plntname">
            <div class="col text-center stable abc" ng-hide="vm.hidePlant">
                <h3 class="stable">{{vm.plantName}}</h3>               
            </div>
        </div>

        <ion-refresher pulling-text="Pull to refresh..." on-refresh="vm.doRefresh($event)">
        </ion-refresher>

        <div class="row MachineMT">
            <div class="col text-center selectMT">
                <select class="select" ng-options='option.machineID as option.machineName for option in vm.machineData.machines' ng-model='vm.selectedValue' ng-change="vm.onMachineSelectionChange(vm.selectedValue)"></select>
            </div>
            <span ng-style="{background: vm.machineStatus.color}" class="status" ng-hide="vm.machineStatusHide == 1">
                <b ng-style="vm.machineStatus.color === null && {'color': 'black'} || vm.machineStatus.color === '' && {'color': 'black'}|| vm.machineStatus.color !== 'Yellow' && {'color': 'white'} || vm.machineStatus.color === 'Yellow' && {'color': 'black'}">{{vm.machineStatus.status}}</b>
            </span>
        </div>

        <div class="container-fluid" id="mainContainer">
            <div class="row">
                <div id="divProcessParams">
                    <div class="processParamItem" ng-repeat="processParamData in vm.values.ProcessParameterData">
                        <table class="tblProcessParam">
                            <tbody>
                                <tr style="background-color: #304F7C;">
                                    <td class="tblProcessParamHeadingBg">
                                        <span class=".tblProcessParamHeadingStyle">{{processParamData.ParameterName}}</span>
                                    </td>                            
                                </tr>
                                <tr ng-style="{background-color: processParamData.ParameterColor; border: none;}">
                                    <td style="text-align: center; font-weight: bold; padding-bottom: 5px; border: none;">
                                        <input type="text" ng-value="processParamData.ParameterValue" disabled="disabled" class="tdParameterValue">
                                    </td>
                                </tr>
                                <tr ng-style="{background-color: processParamData.ParameterColor; border: none;}">
                                    <td style="text-align: center; font-weight: bold; padding-bottom: 5px; border: none;">
                                        <label style="color:Black;font-family:Segoe UI;font-weight:bold;">{{processParamData.Unit}}</label>
                                    </td>
                                </tr>
                                <tr ng-style="{background-color: processParamData.ParameterColor; border: none;}">
                                    <td style="text-align: center; font-weight: bold; padding-bottom: 5px; border: none;">
                                        <div class="row">
                                            <label style="color:Black;font-family:Segoe UI;font-weight:bold;">Low</label>
                                            <input type="text" ng-value="processParamData.HigherValue" disabled="disabled" class="tdParameterValueHighLow">
                                            <label style="color:Black;font-family:Segoe UI;font-weight:bold;margin-left: 10px;">Hi</label>
                                            <input type="text" ng-value="processParamData.LowerValue" disabled="disabled" class="tdParameterValueHighLow">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>