﻿<ion-view title="" id="page74">
    <ion-content padding="true" class="has-header">
        
        <div class="list pt">
            <div class="row item item-divider  plntname">
                <div class="col text-center stable  abc" style="font-size:25px;font-weight:400;padding-top:3px;">
                   Settings
                </div>
            </div>
           
            <div class="row item item-divider plntname">
                <div class="col text-center">
                    <label class="item item-input">
                        <span style="font-size:20px;font-weight:400;color:black;"><b>Enter URL :</b></span>
                        <input type="text" ng-model="vm.host" placeholder="Enter URL" style="padding-left:15px;font-size:18px;" />
                    </label>
                </div>
            </div>
            <div class="row item item-divider reqbtn" style="background-color:#FFFFFF">
                <div class="col text-center  reqsave">
                    <label class="item item-input text-center" style="border:0px;color:black">
                        <button class="button button-positive setting"  ng-click="vm.getAddress()">
                            Save
                        </button>
                    </label>
                </div>
            </div>
            </div>
</ion-content>
</ion-view>
